# Ignore Python virtual environment
venv/

# Ignore ChromaDB local vector database
chroma_db/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore system files
.DS_Store

# Ignore environment files
.env
